{% extends 'main_base.html' %}

  <!--<style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 100px;
    }
  </style>-->

{% block login %}
  <h1>Выберите тест</h1>
<a href="/profile/{{ user[0] }}">Профиль</a>
  <button class="test-button" onclick="location.href='/test/1'">Тест 1</button>
  <button class="test-button" onclick="location.href='/test/2'">Тест 2</button>
  <button class="test-button" onclick="location.href='/test/3'">Тест 3</button>
{% endblock %}

